.page-not-found{
    padding-bottom: 8rem;
    .not-found-icon{
        background-color: #FFF;
        border-radius: 50%;
        padding: 7.7rem 5.4rem 7.6rem 5.5rem; 
        margin: 8rem 0 5.5rem 0;
        .icon{
            height: 15.6rem;
            width: 20rem;
            color: #CED4DA;
        }
    }
    .return-home{
        background-color: #211D4F;
        color: #FFF;
        padding: 1.2rem 3.55rem;
        border-radius: 0.4rem;
    }
}