.about-page-main {
  margin-bottom: 70px;

  .about-page-top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-bottom: 100px;
    .thumbnail-img {
      height: 440px;
    }
  }
  .aboutus_overlay {
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    margin: 0px 30px;
    bottom: -30px;
    @include respond(sm) {
      width: fit-content;
      margin: 0px 25px;
      font-size: 1rem !important;
      line-height: 0.5rem;
    }
    @include respond(md) {
      width: 780px;
      margin: 0px 50px;
    }
    @include respond(lg) {
      width: 940px;
      margin: 0px 70px;
    }
    @include respond(xl) {
      width: 1000px;
      margin: 0px 60px;
    }

    p {
      text-align: center;
      font-weight: 400;
      font-size: 24px;
      margin-top: 20px;
      color: $primary-color;
    }
  }

  .aboutus-images .thumbnail-img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 14px rgba(33, 29, 79, 0.1));
  }

  .about-information {
    h2 {
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      color: $primary-color;
    }

    h5 {
      font-weight: 500;
      font-size: 1.75rem;
      line-height: 24px;
      color: $sub-title-color;
    }
    p {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 22px;
      color: $default-text-color;
    }
  }
  h1 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 30px;
    color: $primary-color;
  }
  .card-container {
    margin: 50px 0px;
  }
  .about-page-footer {
    p {
      color: $sub-title-color;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 22px;
    }
    .thumbnail-img {
      height: 60rem;
    }
  }
}
