.accept-task {
    display: flex;
    flex-direction: column;
    gap: 14px;

    &__list {
        min-width: 422px;
        max-height: 50vh;
        overflow-y: scroll;
        padding-inline: 10px;
    }
    @include respond(sm) {
        flex-direction: row;
    }
}
.user-task-detail {
}
