.all-categories {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 32px;

    @include media("<tablet") {
        flex-direction: column;
    }
}
.all-categories-title {
    font-size: 40px;
    margin-block: 40px;
    @extend .title;

    @include media("<tablet") {
        font-size: 32px;
    }
}
.category-item {
    &__title {
        margin-bottom: 16px !important;
    }
    &__subitems {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &--title {
            font-size: 14px;
            color: #495057;
            line-height: 18px;
        }
    }
}
