.all-categories {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    //gap: 40px;
    margin-bottom: 32px;

    @include media("<tablet") {
        flex-direction: column;
    }
}
.all-categories-title {
    font-size: 3rem;
    @extend .title;
    @include respond(xs) {
        font-size: 2rem;
    }
}
.category-item {
    &__title {
        margin-bottom: 16px !important;
    }
    &__subitems {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &--title {
            font-size: 14px;
            color: #495057;
            line-height: 18px;
        }
    }
}

.category-container {
    .heading {
        border-bottom: 1px solid #ced4da;
        padding-bottom: 0.8rem;
        svg {
            fill: #868e96 !important;
        }
        .title {
            font-weight: 500;
            font-size: 2rem;
            color: #343a40;

            @include respond(xs) {
                font-size: 1.5rem;
            }
        }
    }
}
