.grow-business {
    h1 {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.875rem;
        color: $primary-color;
    }
    &__top-container {
        .carousel {
            .carousel-indicators [data-bs-target] {
                border-radius: 50%;
                height: 1rem !important;
                background-color: #f1f3f5;
                width: 1rem !important;
            }

            .carousel-indicators .active {
                // width: 48px;
                // height: 48px;
                // margin: 10px;
                background-color: $secondary-color !important;
            }
        }
    }
    &__steps {
        padding: 5rem 0rem;
        h1 {
            padding-bottom: 1.8rem;
        }
        .steps-col {
            display: block;
            @include respond(md) {
                display: flex;
                align-items: stretch;
            }
            .card-title {
                padding-top: 1rem;
                font-size: 1.6rem;
                font-weight: 500;
            }
            .card-description {
                line-height: 2rem;
            }
        }
    }

    &__services {
        .more-services {
            padding-top: 9rem;
        }
        .discover-col {
            display: block;
            @include respond(lg) {
                display: flex;
                align-items: stretch;
            }
        }
    }

    &__blogs {
        padding-top: 8.3rem;
        padding-bottom: 5rem;
    }

    &__queries {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
        a {
            color: #fe5050;
        }
    }
}
