.help-page-header {
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 2rem;
    padding-bottom: 5rem;
    @include respond(sm) {
        padding: 0rem 1.25rem;
    }

    @include respond(xs) {
        padding: 0rem 1.25rem;
    }

    &__top-container {
        padding-bottom: 5rem;
        h1 {
            font-size: 2.5rem;
            font-weight: 500;
        }
        .thumbnail-img {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
            }
            // display: none;

            @include respond(md) {
                height: 29.75rem;
                width: 34.5rem;
                margin-top: 5rem;

                margin-right: 4rem;
            }
            @include respond(lg) {
                height: 32.75rem;
                width: 42.375rem;
                margin-right: 4rem;
            }
        }
        .search {
            display: flex;

            .form-control {
                border-right: none;
                border-top-right-radius: 0rem;
                border: 0.1rem solid #dee2e6;
                border-bottom-right-radius: 0rem;
                @include respond(sm) {
                    width: 35rem;
                }
                @include respond(md) {
                    width: 28rem;
                }
                @include respond(lg) {
                    width: 40rem;
                }
            }
            .btn {
                padding: 0rem 1.8rem;
                height: 4.7rem;
                color: #fff;
                border-radius: 0rem;
                background-color: $primary-color;
                .svg-icon {
                    width: 2.2rem;
                    height: 2.2rem;
                }
                .search {
                    display: flex;

                    .form-control {
                        border-right: none;
                        border-top-right-radius: 0rem;
                        border: 0.1rem solid #dee2e6;
                        border-bottom-right-radius: 0rem;
                        @include respond(sm) {
                            width: 35rem;
                        }
                        @include respond(md) {
                            width: 28rem;
                        }
                        @include respond(lg) {
                            width: 40rem;
                        }
                    }
                    .btn {
                        padding: 0rem 1.8rem;
                        height: 4.7rem;
                        color: #fff;
                        border-radius: 0rem;
                        background-color: $primary-color;
                        .svg-icon {
                            width: 2.2rem;
                            height: 2.2rem;
                        }
                        &:focus {
                            box-shadow: none;
                        }
                        @include respond(xs) {
                            padding: 0rem 1.3rem;
                        }
                    }
                }
                @include respond(xs) {
                    padding: 0rem 1.3rem;
                }
            }
        }
        .recommendation {
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            @include respond(md) {
                margin: 0;
            }

            .chips-wrapper {
                margin: 0 1rem 0.8rem 0;
            }
        }
    }
}

.help-page-content {
    @include respond(sm) {
        padding: 0rem 1.25rem;
    }

    @include respond(xs) {
        padding: 0rem 1.25rem;
    }
    &__browse-container {
        padding-top: 2.5rem;
        h1 {
            font-size: 2.2rem;
            font-weight: 500;
            margin-bottom: 1.1rem;
            color: $default-text-color;
        }
        .help-card {
            .thumbnail-img {
                height: 4rem;
                width: 4rem;
            }
        }
    }
    &__contact-container {
        padding: 5rem 0rem;

        .card-block {
            margin: 0 0 3rem;

            border-radius: 0.4rem;

            box-shadow: 0px 4px 14px rgba(33, 29, 79, 0.1);

            background: rgba(255, 255, 255, 0.4);

            display: flex;

            flex-direction: column;

            justify-content: center;

            width: 100%;

            align-items: stretch;

            padding: 5rem;

            @include respond(xs) {
                padding: 2rem;
            }

            .thumbnail-img {
                @include respond(xs) {
                    height: 2.1rem;
                    width: 2.1rem;
                }
                @include respond(sm) {
                    height: 4rem;

                    width: 4rem;
                }

                @include respond(md) {
                    height: 5rem;

                    width: 5rem;
                }

                @include respond(lg) {
                    height: 7.1rem;

                    width: 7rem;
                }
            }

            h1 {
                font-size: 2.5rem;

                font-weight: 500;

                text-align: center;

                @include respond(xs) {
                    font-size: 2rem;
                }
            }

            p {
                font-size: 1.6rem;

                color: $sub-title-color;

                text-align: left;

                line-height: 2.4rem;

                font-weight: 500;

                margin-top: 0rem;

                // padding-bottom: 1.875rem;

                @include respond(xs) {
                    font-size: 1.3rem;
                }
            }

            .contact-device {
                display: flex;

                justify-content: space-between;

                align-items: center;

                .big-btn {
                    display: flex;
                    height: 4.5rem;
                    align-items: center;
                    justify-content: center;
                    span {
                        color: #fff;
                    }
                }
            }
        }
    }

    &__blog-container {
        padding-bottom: 5rem;

        h1 {
            font-size: 2.5rem;
            font-weight: 500;
            color: $default-text-color;
        }
    }
    &__faq-container {
        padding-bottom: 5rem;

        h1 {
            font-size: 2.5rem;
            font-weight: 500;
            color: $default-text-color;
        }
        .accordion-item,
        .accordion-button {
            background: transparent;
        }
        .accordion-body {
            p {
                font-size: 1.2rem;
                font-weight: 400;
                color: #212529;
            }
        }
    }
}
