/* ===================== ContactListSidebar.tsx ===================== */
.contact-sidebar {
    background-color: $white;
    border-radius: 4px;
    margin-bottom: 70px;
    display: flex;
    align-items: flex-start;
}

/* ===================== ContactList.tsx ===================== */
.contact-list {
    max-width: 305px;
    border-right: 1px solid #edf4ff;
    &__title {
        font-size: 16px;
        font-weight: 600;
        color: $primary-color;
        padding-inline: 16px;
        border-bottom: 1px solid #edf4ff;
        margin-bottom: 0;
        height: 82px;
        display: flex;
        align-items: center;
    }
    &__item {
        padding: 16px;
        display: flex;
        align-items: flex-start;
        gap: 8px;
        border: 1px solid transparent;

        &:hover {
            background-color: #edf4ff;
            border-inline: 1px solid $white;
        }

        &--info .title {
            color: #212529;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 0 !important;
        }
        &--info .last-message {
            color: #212529;
            font-size: 12px;
            margin-block: 6px !important;
        }
        &--info .last-message-date {
            color: #868e96;
            font-size: 10px;
        }
    }
}
/* ===================== MessageHeader.tsx ===================== */
.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 16px 48px;
    border-bottom: 1px solid #edf4ff;
    height: 82px;

    &__left {
        &--user {
            display: flex;
            align-items: flex-start;
            gap: 16px;
        }
        &--user .text {
            font-size: 12px;
            font-weight: 400;
        }
    }
    &__right {
        display: flex;
        align-items: center;
        gap: 32px;
    }
}
