.post-task {
    &__search-header {
        background-color: #fff;
    }
    &__apply-task {
        .getting-started {
            margin-top: 4rem;
        }
    }
    .getting-started {
        margin-top: 4rem;
    }
}
