.privacy-policy {
    h1 {
        font-size: 2.4rem;
        font-weight: 500;
        color: $primary-color;
        margin: 0 0 2.4rem 0;
        @include respond(md) {
            font-size: 4rem;
        }
    }
    h2 {
        font-size: 2rem;
        font-weight: 500;
        color: #343a40;
        margin: 0 0 1.6rem 0;
    }
    p {
        font-size: 1.2rem;
        font-weight: 400;
        color: #495057;
        margin: 0 0 1.8rem 0;
    }
    .inner-section {
        margin-bottom: 4rem;
    }
}
