.user-profile {
    position: relative;
    z-index: 2;
    section {
        padding-bottom: 0rem;
    }
    &__top-container {
        padding-bottom: 5rem;
    }

    &__bottom-container {
        padding-top: 5rem;
        background: #ffffff;
        margin-bottom: 5rem;
        .custom-tab__headers {
            padding-left: 2rem;
            flex-wrap: wrap;
            gap: 7rem;

            &--btn {
                color: #9fa3b1;
                font-weight: 500;
                @include respond(xs) {
                    margin-right: 1rem;
                }
                @include respond(xxs) {
                    margin-right: 1rem;
                }
            }
            [data-is-active="true"] {
                color: $default-text-color;
            }
        }

        .reviews {
            padding-bottom: 2.5rem;
            border-bottom: none;
            border-top: 0.1rem solid $border-color;
            .head-container {
                border-bottom: 0.1rem solid $border-color;
                padding: 1.5rem 2.5rem;

                @include respond(md) {
                    padding: 0rem 2.5rem;
                }
                .select-field {
                    padding-top: 2rem;
                    // padding-left: 1.7rem;
                }
                h3 {
                    color: #212529;
                    font-size: 1.7rem;
                    // padding-left: 1.7rem;
                    margin-bottom: 0rem;
                }
            }
        }
        .form-select {
            padding: 0.375rem 0.25rem 2.375rem 0.75rem;
            font-size: 1.7rem;
            margin-bottom: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}
