.saved-page {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-weight: 500;
        font-size: 1.6rem;
    }
    .search-input-field {
        flex-direction: row-reverse;
    }
    .form-control {
        border-top-left-radius: 0rem;
        border-bottom-left-radius: 0rem;
        border-left: none;
        border-top-right-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
        border-bottom-left-radius: 0rem;
    }
    .btn {
        background-color: #fff;
        color: $primary-color;
        border: 0.1rem solid #d8d8d8;
        border-radius: 0.4rem;
        border-right: none;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }

    .filter-icon {
        background: #ced4da;
        border-radius: 0.4rem;
        border: 0.4rem;
        height: 4.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .svg-icon {
            // padding: 1rem 2rem;
            height: 2rem;
            width: 2rem;
        }
    }

    &__saved-services {
        h2 {
            color: $sub-title-color;
        }
    }

    &__saved-taskers {
        h2 {
            color: $primary-color;
        }
    }
}
