.user-stats {
    padding: 3rem 3rem;

    @include respond(md) {
        padding: 3rem 10rem;
    }
    .user-details {
        .user-name {
            h1 {
                font-size: 2.5rem;
                font-weight: 600;
                margin: 0;

                @include respond(md) {
                    font-size: 4rem;
                }
            }
        }
    }
    .user-stat-card {
        display: flex;
        justify-content: space-between;
        // gap: 24px;
        gap: 2rem;
        padding-top: 2rem;
        @include respond(md) {
            padding-top: 0rem;
        }
    }
}
