section {
    margin-bottom: 5rem;
}
.service-details {
    h1 {
        font-size: 2.5rem;
        font-weight: 500;

        @include respond(xs) {
            font-size: 1.6rem;
        }
    }
    section {
        margin-bottom: 0rem;
    }

    @include respond(sm) {
        padding: 0rem 1.25rem;
    }

    @include respond(xs) {
        padding: 0rem 1.25rem;
    }
    &__top-container {
        section {
            margin-bottom: 0rem;
        }
        // h1 {
        //     font-size: 2.5rem;
        //     font-weight: 500;
        // }
        .gardener-col {
            margin-top: 2rem;
            @include respond(md) {
                margin-top: 0rem;
            }

            .card-block {
                align-items: center;
                @include respond(lg) {
                    align-items: flex-start;
                }
            }
        }
        .information {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .provider-name {
                font-size: 1.5rem;
                font-weight: 400;
            }
            p {
                font-size: 1.2rem;
            }
            @include respond(sm) {
                flex-direction: row;
            }

            .reactions {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
            }
            .save {
                .heart {
                    color: #fe5050;
                    font-weight: 400;
                }
                .name {
                    margin-top: -0.4rem;
                    color: $default-text-color;
                }
            }

            .share {
                .share-icon {
                    color: #3eaeff;
                    font-weight: 400;
                    margin-left: 1.7rem;
                }
                .name {
                    margin-top: -0.4rem;
                    color: $default-text-color;
                }
            }
            .option {
                margin-left: 1.7rem;
                margin-top: -3.4rem;
            }
        }
        .thumbnail-img {
            height: 46rem;
        }
    }

    &__description {
        padding-top: 2.5rem;
        h1 {
            font-size: 2rem;
            font-weight: 500;
            @include respond(xs) {
                font-size: 1.6rem;
            }
        }
        p {
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 2.2rem;
            text-justify: inter-word;
        }
        .tags-wrapper {
            display: flex;
            flex-wrap: wrap;
            margin-top: 1rem;
        }
    }
    &__highlights {
        padding-bottom: 5rem;
        padding-top: 2.5rem;
        h1 {
            font-size: 2rem;
            font-weight: 500;
            @include respond(xs) {
                font-size: 1.6rem;
            }
        }
        .label {
            font-size: 1.3rem;
            color: $default-text-color;
        }

        @include respond(md) {
            padding-top: 0rem;
        }
    }

    &__offers {
        padding-bottom: 5rem;
        h1 {
            font-size: 2rem;
            font-weight: 500;
            @include respond(xs) {
                font-size: 1.6rem;
            }
        }
    }
    &__reviews {
        padding-bottom: 5rem;

        .head-container {
            a {
                font-size: 1.3rem;
            }

            display: flex;
            justify-content: space-between;
            flex-direction: column;
            border-top: 1px solid #dde2f1;
            border-bottom: 1px solid #dde2f1;
            padding: 1.8rem 0rem;

            @include respond(md) {
                flex-direction: row;
            }
            h3 {
                font-size: 1.9rem;
                color: $primary-color;
                padding-top: 1rem;
                font-weight: 500;
                span {
                    color: $default-text-color;
                    font-size: 1.3rem;
                    font-weight: 400;
                }
            }

            .form-group {
                margin: 0;
                flex: 0.6;

                @include respond(md) {
                    flex: 0.4;
                }
                z-index: 1;
                background: rgba(255, 255, 255, 0.8);
                border-radius: 0.4rem;
                border: 1px solid #dde2f1;
                .form-control {
                    border: none;
                    height: 3.4rem;
                    font-size: 1.3rem;
                    cursor: pointer;
                    background: transparent;
                    margin-top: 0.5rem;
                    &::placeholder {
                        color: #868e96;
                        font-family: $poppins-font;
                        font-size: 1.6rem;
                        font-weight: 500;
                    }
                }
            }

            .svg-icon {
                top: 1rem;
                margin-right: 2rem;
                z-index: 0;
                margin-top: 0.5rem;
            }
        }
        .review-container {
            border-bottom: 0.1rem solid #dde2f1;
            padding-bottom: 1.5rem;
        }
    }
    &__services {
        h1 {
            font-size: 2rem;
            padding-bottom: 1rem;
            font-weight: 500;

            @include respond(xs) {
                font-size: 1.6rem;
            }
        }

        .discover-col {
            display: block;
            @include respond(md) {
                display: flex;
                align-items: stretch;
            }
        }
    }
}
