.account-settings {
    margin: 4rem 0;
    .nav {
        ul {
            li {
                padding: 0 0 2.4rem;
                a {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 1.8rem;
                    color: $secondary-text-color;
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}
