.hire-in-nepal {
    h1 {
        font-weight: 500;
        font-size: 2.7rem;
        padding-bottom: 0.6rem;
        margin-bottom: 0rem;
    }
    p {
        font-size: 1.3rem;
        font-weight: 400;
    }
    &__top-container {
        background: #e3d5fa;
        .card-content {
            padding: 2.5rem 5rem !important;
            padding-left: 6rem !important;
        }
        .description {
            padding-top: 5rem !important;
            padding-right: 2.4rem !important;
        }

        h1 {
            font-size: 3rem !important;
            line-height: 4rem !important;
            font-weight: 500;
        }
        p {
            padding-top: 2rem !important;
            padding-bottom: 3.5rem !important;
            font-size: 1.4rem !important;
            font-weight: 500 !important;
            margin-bottom: 0rem;
        }
        .card-btn {
            background-color: #fff !important;
            color: #111 !important;
            margin-bottom: 6rem !important;
        }
    }
    &__hire-tasker {
        padding: 5rem 0rem;
        .team-members-card {
            background-color: #fff;
        }
        .search-input-field {
            .form-control {
                border-right: none;
            }
            .btn {
                padding: 0rem 1.8rem;
                height: 4.7rem;
                color: $primary-color;
                border-radius: 0rem;
                border-left: none !important;
                background-color: #fff !important;
                border: 0.1rem solid #dee2e6;

                .svg-icon {
                    width: 2.2rem;
                    height: 2.2rem;
                }
                &:focus {
                    box-shadow: none;
                }
                @include respond(xs) {
                    padding: 0rem 1.3rem;
                }
            }
        }
        .btn {
            padding: 0rem 1.8rem;
            height: 4.7rem;
            color: #fff;
            border-radius: 0rem;
            border: 0.1rem solid $border-color;

            .svg-icon {
                width: 2.2rem;
                height: 2.2rem;
            }
            &:focus {
                box-shadow: none;
            }
            @include respond(xs) {
                padding: 0rem 1.3rem;
            }
        }
    }
    &__top-skills {
        h1 {
            padding-bottom: 1.5rem;
            font-size: 2rem;
        }
        p {
            margin-bottom: 0rem;
            color: $secondary-text-color;
            font-weight: 500;
            padding-bottom: 1rem;
            font-size: 1.4rem;
        }
    }
}
