.image-div {
    margin-top: 2rem;
    .advertisement-image {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            object-fit: cover;
        }
    }
}
