.anchor-button {
    font-weight: 400;
    font-size: 1.6rem;
    background: #e7e8f0;
    color: $primary-color;
    &:hover {
        transform: scale(1.05);
        transition: transform 500ms ease-in-out;
        color: #fff;
    }
}

.secondary {
    color: #fff;
    background: $primary-color;
    padding: 1.2rem 0;
    &:hover {
        transform: scale(1.05);
        transition: transform 500ms ease-in-out;
        color: #fff;
    }
}
