.task-detail__loc-time {
    @include respond(xs) {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.task-detail {
    padding: 5rem;
    padding-bottom: 5rem;
}

.tasker-tab-taskdetail {
    padding-top: 1rem;
}
