.apply-post {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0.4rem 1.4rem rgba(33, 29, 79, 0.2);
    border-radius: 0.4rem;

    @include respond(xs) {
        margin-bottom: 1rem;
    }

    .folder {
        background: rgba(0, 0, 0, 0.05);
        padding: 4rem;
        border-radius: 50%;
        margin-top: 4.8rem;

        .folder-icon {
            width: 12rem;
            height: 12rem;
            vertical-align: middle;
            display: inline-block;
            font-size: 1.2rem;
            color: #ffca6a;
        }
    }
    .text-post {
        text-align: center;
        margin: 4rem 0 3.2rem 0;

        .head {
            font-size: 2.4rem;
            font-weight: 600;
            margin: 0;
        }
        .para {
            font-size: 1.6rem;
            font-weight: 500;
            margin: 0.8rem 0;
        }
    }
    .btn-cont {
        margin-bottom: 6.8rem;

        .post-btn {
            padding: 0.8rem 3.5rem;
            background: #ffffff;
            border: 0.1rem solid #211d4f;
            border-radius: 0.4rem;
            margin-top: 0.5rem;
            outline: none;
            font-size: 1.6rem;

            &:hover {
                background-color: $primary-color;
                color: #fff;
            }
        }
    }
}
