.applied-modal {
    h3 {
        margin: 0 0 2rem 0;
        font-size: 2rem;
        font-weight: 500;
    }
    &__details {
        h4 {
            font-weight: 500;
            span {
                font-weight: 400;
                font-size: 1.4rem;
                color: $secondary-text-color;
                margin: 0 0 0 1.6rem;
            }
        }
        p {
            font-weight: 400;
            font-size: 1.4rem;
            color: $secondary-text-color;
        }
    }
    form {
        .modal-footer {
            gap: 1.6rem;
            button {
                font-weight: 400;
                font-size: 1.6rem;
            }
        }
    }
}
.edit-form {
    h4 {
        font-weight: 500;
        font-size: 1.4rem;
        color: $sub-title-color;
    }
    .social-links {
        font-weight: 400;
        font-size: 1.4rem;
        color: $secondary-text-color;
    }
}
.crop-container {
    height: 30rem;
    width: 100%;
    display: flex;
    margin: 0;
    @include respond(sm) {
        width: 50%;
        margin: 0 auto;
    }
}
