.avatar-section {
    &__click {
        top: 0;
        background: rgba(62, 174, 255, 0.6);
        width: 12rem;
        height: 12rem;
        &--icon {
            position: absolute;
            top: 37%;
            left: 42%;
            height: 25%;
            color: #fff;
        }
    }
}
