.breadcrumb-section {
    padding: 1.4rem 0 1.4rem;
    .breadcrumb {
        display: inline-flex;
        align-items: center;
        gap: 1rem;
        .breadcrumb-item {
            &::before {
                content: "";
            }
        }
    }
}
