.breadcrum-text {
    padding: 1.8rem 0;
    p {
        margin: 0;
        font-size: 1.6rem;
        font-weight: 500;
        color: #343A40;
    }

    span {
        color: #0693E3;
    }

    .svg-icon {
        height: 1.6rem;
        width: 0.6rem;
        margin: 0 0.8rem;
    }
}