.big-btn {
    color: $primary-color;
    background-image: linear-gradient(
        -60deg,
        transparent,
        transparent 40%,
        #ffffff44 40%,
        #ffffff44 60%,
        transparent 60%,
        transparent 100%
    );
    background-size: 200% 100%;
    background-position-x: 150%;
    background-repeat: no-repeat;
    font-weight: 500;
    font-size: 1.875rem;
    border-radius: 0.4rem;
    border: none;
    box-shadow: none;
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
        transform: scale(1.04);
        transition: transform 500ms ease-in-out, background-position-x 1000ms;
        background-position-x: -150%;
    }
    &:focus {
        border: none;
        box-shadow: none !important;
    }
    &:active:focus {
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none !important;
    }

    @include respond(xs) {
        padding: 0.8rem 2rem;
    }
    @include respond(sm) {
        padding: 0.8rem 4rem;
    }
    @include respond(md) {
        padding: 2rem 3rem;
    }

    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;

        // color: $primary-color;
        // &::after {
        //     content: "\00BB";
        //     position: absolute;
        //     opacity: 0;
        //     top: 0;
        //     right: -2rem;
        //     transition: 0.5s;
        // }
    }
    // &:hover span {
    //     padding-right: 1.5rem;
    // }
    // &:hover span:after {
    //     opacity: 1;
    //     right: 0;
    // }
}
.cancel-btn {
    background: transparent;
    color: $primary-color;
    font-weight: 400;
    font-size: 1.6rem;
    border: transparent;
    padding: 0 2rem;
    &:hover {
        background: $secondary-color;
        color: #fff;
        border: none;
        outline: none;
    }
    &:focus {
        background: transparent;
        color: $primary-color;
        border: none;
        outline: none;
    }
}
.close-btn {
    background-size: 200% 100%;
    border: 0.1rem solid $primary-color;
    background: transparent;
    color: $primary-color;
    height: 4rem;
    font-size: 1.6rem;
    &:hover {
        background-position-x: -150%;
        transition: background-position-x 600ms;
        color: $primary-color;
    }
    &:focus {
        background: transparent;
        color: $primary-color;
        border: 0.1rem solid $primary-color;
        outline: none;
        box-shadow: none !important;
    }
}
.default {
    background: $grayScale6;
    border: none;
    font-size: 1.4rem;
}
.cross-btn {
    font-size: 2rem;
}
