.hero-category__card-block {
    .wrapper {
        svg {
            height: 2.4rem;
            width: 2.4rem;
        }
        h1 {
            margin: 0;
        }

        a {
            margin: 4rem 0 0;
        }
    }
}
