.category-card-block {
    background-color: #ffffff40;
    padding: 2.4rem 1.6rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 14px rgba(33, 29, 79, 0.1);
    width: 100%;
    &__image-block {
        background-color: #fff;
        height: 9.4rem;
        width: 9.4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .thumbnail-icon {
            overflow: hidden;
            position: relative;
            width: 50px;
            height: 50px;

            svg {
                fill: #495057;
            }
            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
    p {
        font-size: 1.4rem;
        font-weight: 500;
        color: #495057;
        margin: 2.4rem 0 0 0;
        text-align: center;    
    }
}
