.discount-card-block {
    position: relative;
    margin-bottom: 5rem;

    .thumbnail-img {
        height: 37rem;
        z-index: 0;
        backdrop-filter: blur(0.4rem);

        border-radius: 4px;
        img {
            width: 100%;
        }
    }
    .category-overlay {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        text-align: center;
        // align-items: center;

        @include respond(md) {
            padding: 2rem 0rem;
        }
        h1 {
            color: #fff;
            font-weight: 400;
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        .discount {
            @include respond(lg) {
                width: 20rem;
            }
            p {
                color: #fca500;
                border: 2px solid #fff;
                font-size: 3rem;
                padding: 1rem 0.2rem;
                font-weight: 400;
                margin-bottom: 1rem;
                @include respond(lg) {
                    padding: 1rem 2.2rem;
                }
            }
        }
        p {
            color: #fff;
            font-size: 1.5rem;
            font-weight: 400;
            margin-top: 1.3rem;
            margin-bottom: 1.8em;
        }
        .time {
            font-size: 2.2rem;
            font-weight: 400;
            color: #fe5050;
            margin-bottom: 1.8rem;
        }
        .big-btn {
            padding: 2rem 0rem;
            width: 100%;
        }
    }
}
