.discount-card-block {
  position: relative;
  display: flex;
  flex-direction: column;
  //   align-items: center;

  .gradient {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6)
    );
    position: absolute;
    // height: 100%;
    // width: 100%;
    z-index: 1;
  }

  .thumbnail-img {
    height: 40rem;
    // width: 26.5rem;
    z-index: 0;
    backdrop-filter: blur(0.4rem);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 4px;
    img {
      width: 100%;
    }
  }
  .category-overlay {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 2rem;
    left: 50%;
    right: 50%;

    margin: auto;
    h1 {
      color: #fff;
      font-weight: 300;
      word-spacing: 1.5rem;
      border: 1px solid #fff;
      p {
        padding: 0.2rem 1rem;
      }
    }
    p {
      color: #fff !important;
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
}
