.dropdown-menu-container {
    .btn-primary {
        background-color: none !important;
    }
    .arrow {
        position: absolute;
        display: none;
        z-index: 10;

        &::after {
            position: absolute;
            content: "";
            border-left: 1.9rem solid transparent;
            border-right: 1.9rem solid transparent;
            border-bottom: 2rem solid #fff;
            top: 0.1rem;
            left: 3.7rem;
            transform: translate(-50%);
        }

        @include respond(md) {
            display: flex;
        }

        [data-is-nested="true"] {
            padding-top: 6rem;
        }

        a:active,
        a:hover {
            color: #0693e3;
        }
    }

    // .svg-icon {
    //   color: #868e96;
    // }
    .all-category {
        color: $default-text-color;
        margin-left: 1.4rem;
        margin-bottom: 1rem;
    }
    .dropdown-menu-items-container {
        display: flex;
        flex-direction: column;
    }

    .dropdown-menu-items {
        min-width: 14rem;
        padding: 1.4rem 1rem;
        background-color: $white;
        /* Container */
        border-bottom: 1px solid #e9ecef;
        margin-top: 1rem;
        @include respond(lg) {
            min-width: 18rem;
        }
        @include respond(xl) {
            min-width: 25rem;
        }
        :last-child {
            border-bottom: none;
        }
    }
    .dropdown-menu-items a {
        color: $secondary-text-color;
    }
    .sub-menu {
        border-left: 1px solid #e9ecef;
        padding-top: 4rem;
    }

    .dropdown-btn {
        background: none;
        color: #fff;
        border: none;
        display: flex;
        // margin-top: 0.05rem;
        outline: none;
        justify-content: space-around;

        &:focus {
            outline: none;
        }
        &:hover {
            color: black;
        }
    }

    .dropdown-menu-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        //padding: 15px 20px;
        border-radius: 4px;
        &:hover {
            color: #0693e3;
        }
    }

    .dropdown-menu-item-link {
        flex: 1;
        color: #868e96;

        &:hover {
            color: #0693e3;
        }
    }
}
