.extra {
    &-service {
        margin: 3rem 0 0;
        h2 {
            font-weight: 500;
            font-size: 2rem;
        }
        &__desc {
            font-weight: 400;
            font-size: 1.2rem;
            color: #868e96;
            svg {
                margin: 0 1rem 0 0;
            }
        }
    }
}
