.faq-container {
    .accordion-item,
    .accordion-button {
        background: transparent;
    }
    .accordion-body {
        p {
            font-size: 1.2rem;
            font-weight: 400;
            color: #212529;
        }
    }
}
