.site-footer {
    //&__container{
    //    @include respond(xs){
    //        padding: 0.8rem !important;
    //    }
    //}
    background-color: #262459;
    color: #fff;
    padding: 4rem 0 2rem 0;
    font-family: $inter-font;
    font-size: 1.5rem;
    position: relative;

    @include respond(sm) {
        // position: sticky;
    }
    &__newsletter {
        border: 2px solid #ffffff40;
        border-radius: 0.4rem;
        .row {
            justify-content: center;
            align-items: center;
            padding: 3.2rem 0;
        }
        .newsletter-text {
            padding: 0 2rem;
            margin-bottom: 0rem;
            @include respond(lg) {
                padding: 0 11.3rem;
            }
            h5 {
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 1.6rem;
            }
            p {
                margin: 0;
                font-size: 1.4rem;
                font-weight: 500;
                color: #ffffff60;
                line-height: 2.2rem;
            }
        }
        .newsletter-form {
            padding: 0 2rem;
            @include respond(lg) {
                padding: 0 11.3rem;
            }
            .form-group {
                margin: 0;
            }
            .btn-wrapper {
                position: relative;
                .btn {
                    position: absolute;
                    top: -3.5rem;
                    right: 0;
                    color: $secondary-color;
                    padding: 0;
                    .svg-icon {
                        width: 2.2rem;
                        height: 2.2rem;
                    }
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
    &__footer-navigation {
        margin-top: 4rem;
        .footer-block {
            p {
                font-size: 1.4rem;
                color: #ffffff60;
                font-weight: 500;
                line-height: 2.2rem;
            }
            ul {
                list-style-type: none;
                li {
                    display: block;
                    margin: 0 0 1.2rem;
                    @include respond(md) {
                        font-size: 2rem;
                        font-weight: 500;
                        margin: 0 0 1.5rem;
                    }
                    a {
                        color: #ffffff60;
                        font-size: 1.4rem;
                        font-weight: 500;
                        &:hover {
                            color: #fff;
                        }
                    }
                    &:first-child {
                        color: #fff;
                        font-size: 2rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    &__social-links {
        border-bottom: 1px solid #868e96;
        padding-bottom: 2.4rem;
        h2 {
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 2.4rem;
        }
        .social-sites {
            margin-bottom: 4rem;
            display: flex;
            @include respond(md) {
                margin: 0;
            }
            .wrapper {
                color: #fff;
                padding: 0.5rem;
                margin-right: 0.8rem;
                border-radius: 0.5rem;
                display: flex;
            }
            .facebook {
                background-color: #4267b2;
            }
            .linkedIn {
                background-color: #0072b1;
            }
            .twitter {
                background-color: #1da1f2;
            }
            .instagram {
                background: radial-gradient(
                        circle farthest-corner at 35% 90%,
                        #fec564,
                        transparent 50%
                    ),
                    radial-gradient(
                        circle farthest-corner at 0 140%,
                        #fec564,
                        transparent 50%
                    ),
                    radial-gradient(
                        ellipse farthest-corner at 0 -25%,
                        #5258cf,
                        transparent 50%
                    ),
                    radial-gradient(
                        ellipse farthest-corner at 20% -50%,
                        #5258cf,
                        transparent 50%
                    ),
                    radial-gradient(
                        ellipse farthest-corner at 100% 0,
                        #893dc2,
                        transparent 50%
                    ),
                    radial-gradient(
                        ellipse farthest-corner at 60% -20%,
                        #893dc2,
                        transparent 50%
                    ),
                    radial-gradient(
                        ellipse farthest-corner at 100% 100%,
                        #d9317a,
                        transparent
                    ),
                    linear-gradient(
                        #6559ca,
                        #bc318f 30%,
                        #e33f5f 50%,
                        #f77638 70%,
                        #fec66d 100%
                    );
            }
            .youtube {
                background-color: #ff0000;
            }
            .svg-icon {
                height: 2rem;
                width: 2rem;
                margin: 0;
            }
        }
    }
    .copyright {
        color: #fff;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 2.4rem;
    }
}
