.site-footer {
  background-color: #262459;
  color: #fff;
  padding: 8rem 0 3rem 0;
  font-family: $inter-font;
  font-size: 1.5rem;
  &__newsletter {
    border: 2px solid #fca500;
    border-radius: 0.4rem;
    .row {
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
    }
    .newsletter-text {
      padding: 0 2rem;
      margin-bottom: 2rem;
      @include respond(lg) {
        padding: 0 11.3rem;
      }
      h5 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1.6rem;
      }
      p {
        margin: 0;
        font-size: 1.4rem;
        font-weight: 500;
        color: #ffffff60;
        line-height: 2.2rem;
      }
    }
    .newsletter-form {
      padding: 0 2rem;
      @include respond(lg) {
        padding: 0 11.3rem;
      }
      .form-group {
        margin: 0;
      }
      .btn-wrapper {
        position: relative;
        .btn {
          position: absolute;
          top: -3.5rem;
          right: 0;
          color: $secondary-color;
          padding: 0;
          .svg-icon {
            width: 2.2rem;
            height: 2.2rem;
          }
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
  &__footer-navigation {
    margin-top: 8rem;
    .footer-block {
      p {
        font-size: 1.4rem;
        color: #ffffff60;
        font-weight: 500;
        line-height: 2.2rem;
      }
      ul {
        list-style-type: none;
        li {
          display: block;
          margin: 0 0 1.2rem;
          @include respond(md) {
            font-size: 2rem;
            font-weight: 500;
            margin: 0 0 1.5rem;
          }
          a {
            color: #ffffff60;
            font-size: 1.4rem;
            font-weight: 500;
            &:hover {
              color: #fff;
            }
          }
          &:first-child {
            color: #fff;
            font-size: 2rem;
            font-weight: 500;
          }
        }
      }
    }
  }
  &__social-links {
    border-bottom: 1px solid #868e96;
    padding-bottom: 2.4rem;
    h2 {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 2.4rem;
    }
    .social-sites {
      margin-bottom: 4rem;
      @include respond(md) {
        margin: 0;
      }
      .wrapper {
        color: #fff;
        padding: 1rem;
        margin-right: 1.6rem;
        border-radius: 0.2rem;
      }
      .facebook {
        background-color: #4267b2;
      }
      .linkedIn {
        background-color: #0072b1;
      }
      .twitter {
        background-color: #1da1f2;
      }
      .instagram {
        background-color: #bc2a8d;
      }
      .youtube {
        background-color: #ff0000;
      }
      .svg-icon {
        height: 2rem;
        width: 2rem;
        margin: 0;
      }
    }
  }
  .copyright {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 2.4rem;
  }
}
