.gallery-form-section {
    .gallery-form {
        padding: 4rem;
        background-color: #ffff;
        margin: 4rem 0;
        box-shadow: 0px 4px 14px rgba(33, 29, 79, 0.1);
        border-radius: 4px;

        .h5 {
            font: 500 1.4rem $poppins-font;
            color: #212529;
        }
        p {
            font: 400 1.2rem $poppins-font;
        }

        .next-button {
            margin: 5rem 0 0;
            button {
                margin: 0 0 0 1.6rem;
                @include border();
            }
            span {
                button {
                    background-color: #ffff;
                    color: $secondary-text-color;
                }
            }
        }
    }
}
