.getting-started {
    display: flex;
    flex-direction: column;
    align-items: stretch !important;
    padding-bottom: 0.5rem;
    .top-container {
        h1 {
            font-weight: 600;
            margin-top: 1.3rem;
            margin-bottom: 0.8rem;
        }
        p {
            margin-bottom: 1.8rem;
            margin-top: 0rem;
        }
    }
    .task-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .task-blocks {
            padding: 1.6rem 2.3rem;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 3rem;
            border-radius: 0.4rem;
            box-shadow: 0px 4px 14px rgba(33, 29, 79, 0.1);
            border: 0.1rem solid $border-color;
            display: flex;

            p {
                margin-bottom: 0rem;
                font-size: 1.3rem;
                color: $sub-title-color;
                //margin-left: 1rem;
                @include respond(lg) {
                    margin-left: 0rem;
                }
                @include respond(sm) {
                    margin-left: 1rem;
                }
            }
            .thumbnail-img {
                height: 3rem;
                width: 3rem;

                @include respond(lg) {
                    height: 6rem;
                    width: 6rem;
                }
            }
            .svg-icon {
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }
}
