.merchant-card-block {
    margin: 0 0 3rem;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 14px rgba(33, 29, 79, 0.1);
    background: rgba(255, 255, 255, 0.4);
    padding-top: 2.4rem;
    width: 100%;

    .merchant-intro {
        padding: 2.4rem;
        // height: 11rem;
        // overflow: hidden;

        .thumbnail-img {
            margin: 0 0 1rem 0;
            height: 8rem;
            border: 1px solid #868e96;
            border-radius: 50%;
            @include respond(md) {
                min-width: 8rem;
            }
            @include respond(sm) {
                margin: 0 2.4rem 0 0;
                min-width: 8rem;
            }
            @include respond(xs) {
                width: 8rem;
            }
        }

        .merchant-name {
            height: 10rem;
            overflow: hidden;
            .card-title {
                font-size: 1.4rem;
                font-weight: 500;
                color: #101113;
                margin-bottom: 1.4rem;
            }

            .card-subtitle {
                font-size: 1.2rem;
                font-family: $inter-font;
                font-weight: 500;
                color: #5c5f66;
                margin-bottom: 1rem;

                span {
                    font-family: $inter-font;
                    color: #3eaeff;
                }
            }
        }
    }

    .card-content {
        padding: 0 2.2rem 2.6rem 2.2rem;

        .merchant-description {
            .card-description {
                font-size: 1.2rem;
                font-weight: 400;
                color: #495057;
                line-height: 1.8rem;
                margin-bottom: 1.2rem;
                height: 3.2rem;
                overflow: hidden;
            }
        }

        .analytics {
            border-top: 1px solid #ced4da;
            border-bottom: 1px solid #ced4da;
            padding: 0.8rem 0;
            margin-bottom: 2.4rem;

            .count {
                .thumbnail-img {
                    height: 2.4rem;
                    width: 2.4rem;
                    margin-right: 0.8rem;
                }

                p {
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: #343a40;
                    margin: 0;
                }
            }

            .analytics-title {
                p {
                    font-size: 1rem;
                    font-weight: 400;
                    color: #868e96;
                    margin: 0;
                }
            }
            .happy-clients {
                padding: 0 0.5rem 0 1rem;
                @include respond(sm) {
                    padding: 0 2.4rem 0 2.2rem;
                }
            }
            .success-rate {
                border-left: 1px solid #ced4da;
                padding: 0 3.2rem 0 2.4rem;
                .thumbnail-img {
                    height: 2.4rem;
                    width: 2.4rem;
                    margin-right: 0.8rem;
                }
            }
        }

        .ratings-wrapper {
            margin-bottom: 1.4rem;

            .ratings {
                color: #101113;
                font-size: 1.4rem;
                font-family: $inter-font;
                font-weight: 400;
                line-height: 1.7rem;
                margin: 0;

                .star {
                    color: $secondary-color;
                    margin-right: 0.8rem;
                }
            }

            .price {
                color: #101113;
                font-size: 1.6rem;
                font-family: $inter-font;
                font-weight: 500;
                margin: 0;
            }
        }

        .booking-wrapper {
            display: flex;
            align-items: center;

            .heart {
                color: #fe5050;
                margin-right: 3.4rem;
            }

            .share {
                color: #3eaeff;
            }
        }
    }
}
