.payment-history-header-section {
    .payment-history-header {
        @include respond(xs) {
            flex-direction: column;
        }
        h1 {
            font: 500 4rem $poppins-font;
        }
        select {
            height: 4.8rem;
            width: 16rem;
            outline: none;
            @include border();
            padding: 0 1rem 0;
            font: 400 1.4rem $poppins-font;
            margin: 0 1.6rem 0 0;
        }

        .filter-icon {
            padding: 0.8rem 1.2rem;
            background: #ced4da;
            border-radius: 0.4rem;
            cursor: pointer;

            svg {
                height: 2.4rem;
                width: 2.4rem;
            }
        }
    }
}

.payment-history-table-section {
    .payment-history-table {
        background: #fff;
        padding: 3.4rem 2.4rem;
        border-radius: 1rem;

        h4 {
            font: 600 1.6rem $poppins-font;
            color: $primary-color;
            margin: 0 0 2.6rem;
        }

        .table-responsive {
            input {
                height: 2.4rem;
                width: 2.4rem;
            }
            tr {
                border-bottom: 1px solid #e9ecef;
            }
            th {
                font: 700 1.2rem $poppins-font;
                padding: 1.5rem 0;
            }
            td {
                font: 400 1.4rem $poppins-font;
                padding: 2rem 0;
            }
        }
    }
}
.payment-history {
    .mantine-Menu-dropdown {
        padding: 1rem;
    }
    table {
        thead {
            tr {
                th {
                    padding: 1rem 3rem 1rem 3rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 1.2rem;
                    color: $sub-title-color;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 2rem 3rem;
                    font-weight: 400;
                    font-size: 1.4rem;
                    color: $sub-title-color;
                }
            }
        }
    }
}
