.some-success-stories-section {
    .success-sroties-header {
        h1 {
            font: 500 4rem $poppins-font;
            margin: 0 0 4rem;
        }
        h3 {
            font: 500 2rem $poppins-font;
            margin: 0 0 4rem;
        }
    }
}

.personal-success-card {
    background: #fff;

    .sakshi-shrestha-content {
        padding: 3rem;

        .description {
            .title {
                svg {
                    color: #fab005;
                    margin: 0 0 0 0.6rem;
                }
            }
        }

        h3 {
            font: 500 2rem $poppins-font;
            margin: 0 0 0.8rem;
        }
        h6,
        span {
            font: 400 1.2rem $poppins-font;
        }
        h6 {
            color: #868e96;
            margin: 0 0 3.2rem;
        }

        p {
            font: 400 1.4rem $poppins-font;
            margin: 0 0 2.4rem;
        }
        h4 {
            font: 500 1.6rem $poppins-font;
        }

        .badge-section {
            margin: 0 0 4rem;
            h5 {
                font: 400 1.4rem $poppins-font;
                margin: 0 0 0.8rem;
            }

            h6 {
                font: 400 1.2rem $poppins-font;
            }
        }

        .footer {
            svg {
                color: #fab005;
                margin: 0 0.3rem 0 0;
            }
        }
    }
}
