.popup-post-task {
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    z-index: 2;
}

.post-task-homepage {
    background: #fff;
    padding: 2rem 5rem;
    max-width: 26.5rem;

    .xmark {
        position: absolute;
        right: 1.6rem;
        top: 1.6rem;
        cursor: pointer;

        svg {
            color: black;
        }
    }

    svg {
        color: #ff9700;
        height: 2rem;
        width: 2rem;
        margin: 0 0 1.6rem;
    }

    h4 {
        font: 500 1.6rem $poppins-font;
        margin: 0 0 1.6rem;
        text-align: center;
    }

    button {
        background-color: #ffca6a;
        color: #fff;
    }
}

.trusted-brand-section {
    margin: 0;
    background: #f8f9fa;
    .marquee {
        figure {
            position: relative;
            min-width: 8rem;
            min-height: 6rem;
        }
        background: #f8f9fa;
        li {
            padding: 3rem 20rem;
            font: 600 3.2rem $poppins-font;
            cursor: pointer;
        }

        .light {
            color: #adb5bd;
        }

        .strong {
            color: #495057;
        }
    }
}
