.rasifal-details-section {
    .rasifal-details {
        .mantine-1b1ndg2[data-active] {
            background-color: #fca500;
        }
        h1 {
            font: 500 4rem $poppins-font;
        }

        .tab-lists {
            font: 500 1.4rem $poppins-font;
        }

        .daily-rasifal-details {
            h3 {
                font: 500 1.8rem $poppins-font;
                color: $primary-color;
            }
            .each-rasifal-card {
                background: #fff;
                padding: 2rem;
            }
        }
    }
}
