.chips-wrapper {
    display: inline-block;
    padding: 8px 12px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    .chips-content {
        h6 {
            font-family: $inter-font;
            font-size: 1.2rem;
            color: #1f1f1f;
            font-weight: 500;
            margin: 0 0.8rem 0 0;
        }
        .svg-icon {
            height: 1.4rem;
            width: 0.9rem;
            margin: 0;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
