.card-block {
    .thumbnail-img {
        height: 9rem;
        width: 9rem;
        object-fit: contain;
        overflow: hidden;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    &__card-content {
        .card-title {
            border-bottom: none;
        }
        .card-description {
            font-size: 1.2rem;
            line-height: 1.8rem;
        }
    }
}
