.box-modifier {
    //device specific:hardcode
    @media screen and (width: 320px),
        (width: 414px),
        (width: 390px),
        (width: 280px) {
        margin-top: 1rem;
        align-items: inherit;
        flex-direction: column !important;
    }
}
.search-category {
    padding: 3rem 0;
    .filter {
        padding-top: 1rem;
        @include respond(lg) {
            padding-top: 0rem;
        }
    }
    .rows {
        align-items: center;
        display: flex;
        justify-content: center;
        .input-col {
            .search-category--input-group {
                height: 50px;
                border: 1px solid #ccc;

                .search-category--input {
                    border: none;
                    outline: none;
                }
                .search-category--button {
                    background-color: #fff;
                    padding: 0 2rem;
                    border: none;

                    .search-category--icon {
                        width: 1.5rem;
                        height: 1.5rem;
                        vertical-align: middle;
                        display: inline-block;
                        font-size: 12px;
                        color: #000;
                    }
                }
            }

            .paragraph {
                margin: 0 0;
            }
        }
        .categories-tab {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            box-shadow: none;
            width: 100%;

            // .categories-item{
            //     display: flex;
            //     gap: 1rem;
            // }
        }
    }
}
