.search-results {
    .search-results--col {
        overflow-y: scroll;
        max-height: 282rem;

        p {
            font-size: 12px;
            color: #495057;
            line-height: 18px;
        }
    }
    .map-cont {
        .map {
            @include respond(xs) {
                display: none;
            }
        }
    }
}
.search-input {
    @include respond(xs) {
        display: none;
    }
}
