.search-category {
    padding: 3rem 0;

    .rows {
        align-items: center;
        display: flex;
        justify-content: center;
        .input-col {
            .search-category--input-group {
                height: 50px;
                border: 1px solid #ccc;

                .search-category--input {
                    border: none;
                    outline: none;
                }
                .search-category--button {
                    background-color: #fff;
                    padding: 0 2rem;
                    border: none;

                    .search-category--icon {
                        width: 1.5rem;
                        height: 1.5rem;
                        vertical-align: middle;
                        display: inline-block;
                        font-size: 12px;
                        color: #000;
                    }
                }
            }

            .paragraph {
                margin: 0 0;
            }
        }
        .categories {
            display: flex;
            align-items: center;
            
          

            @include respond(md){
                overflow: auto;
                

            }

            @include respond(xs) {
                
                overflow: scroll;
                margin: 1rem 0;
            }
            .boxes {
                display: flex;
                flex-grow: initial;
                background-color: #fff;
                white-space: nowrap;
                margin-left: 1rem;
                border-radius: 20px;
                gap: 1rem;
                border: 1px solid #CED4DA;
                padding: 0.3rem 0.7rem;
                cursor: pointer;
               
                &:active{

                    background-color: #0693E3;
                    p{
                        color: #fff;
                    }
                    .boxes--icon{
                        color: #fff;
                    }

                   
                }

                p {
                    margin: 0 0;
                    font-size: 12px;
                    color: #868e96;

                    
                }
                .boxes--icon {
                    width: 1.8rem;
                    height: 1.8rem;
                    vertical-align: middle;
                    font-size: 12px;
                    color: #868e96;

                   
                }
            }
        }
    }
}
