.recommended-tab {
    @include respond(xs) {
        flex-direction: row-reverse;
    }
    .custom-tab {
        &__headers {
            gap: 0rem;
            flex-wrap: wrap;
            justify-content: space-between;

            &--btn {
                color: #9fa3b1;
                font-weight: 500;
            }
            [data-is-active="true"] {
                color: $default-text-color;
            }
        }
        &__content {
            height: 80vh;
            overflow-y: auto;
            overflow-x: hidden;
            margin-top: 2.8rem;
        }
    }
    .svg-icon {
        color: $primary-color;
    }
    .recommended {
        display: flex;
        align-items: center;
        gap: 2rem;

        @include respond(xs) {
            width: 70%;
            margin-bottom: 0.5rem;
        }

        span {
            color: #868e96;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;

            @include respond(xs) {
                font-size: 12px;
            }
        }
    }
    .recommended-icon {
        display: flex;
        align-items: center;
        gap: 1rem;
        @include respond(xs) {
            width: 20%;
            margin-bottom: 0.5rem;
        }
    }
}
