.service-card-block {
    margin: 0 0 3rem;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 14px rgba(33, 29, 79, 0.1);
    background: rgba(255, 255, 255, 0.4);

    .card-img {
        position: relative;
        overflow: hidden;
        .thumbnail-img {
            height: 20rem;
            margin: 0;
            border-radius: 0.4rem 0.4rem 0 0;
            transition: 0.3s ease-in-out;
            overflow: hidden;

            @include respond(md) {
                height: 28rem;
                margin: 0;
            }

            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
        }
        .offer {
            position: absolute;
            overflow-x: hidden;
            top: 1.4rem;
            left: -3.4rem;
            transform: rotate(320deg);
            background: linear-gradient(
                180deg,
                rgba(252, 165, 0, 0.9) 0%,
                rgba(244, 88, 0, 0.81) 145%
            );
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                margin: 0;
                color: #fff;
                &.discount-rate {
                    margin-right: 1.2rem;
                }
            }
        }
    }

    .card-content {
        padding: 2.7rem 2.2rem 2.6rem 2.2rem;

        .card-title {
            font-size: 1.4rem;
            font-weight: 500;
            color: $primary-color;
            margin-bottom: 1.4rem;
            h2 {
                margin-bottom: 0rem;
            }
        }
        .pro-title-wrapper {
            margin-bottom: 1.5rem;
            align-items: center;
        }
        .pro-service {
            border: 0.14rem solid #3eaeff;
            border-radius: 0.4rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
            p {
                color: #3eaeff;
                margin-bottom: 0rem;
                padding: 0rem 1rem;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
        .card-subtitle {
            font-size: 1.2rem;
            font-family: $inter-font;
            font-weight: 500;
            color: #5c5f66;
            margin-bottom: 1.6rem;

            span {
                font-family: $inter-font;
                color: #3eaeff;
            }
        }

        .card-description {
            font-size: 1.2rem;
            font-weight: 400;
            color: #495057;
            line-height: 1.8rem;
            margin-bottom: 1.2rem;
        }

        .ratings-wrapper {
            margin-bottom: 1.4rem;

            .ratings {
                color: #101113;
                font-size: 1.4rem;
                font-family: $inter-font;
                font-weight: 400;
                line-height: 1.7rem;
                margin: 0;

                .star {
                    color: $secondary-color;
                    margin-right: 0.8rem;
                }
            }

            .price {
                color: #101113;
                font-size: 1.6rem;
                font-family: $inter-font;
                font-weight: 500;
                margin: 0;
            }
        }
    }
}
