.svg-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem 0 0;

    &-location {
        color: #fe5050;
    }
    &-calender {
        color: #f06700;
        &-grey {
            color: #868e96;
        }
    }
    &-clock {
        color: #3eaeff;
    }
    &-eye {
        color: #3d3f7d;
    }
    &-user-group {
        color: #3d3f7d;
    }
    &-check {
        color: #3eaeff;
    }
    &-question-circle {
        width: 2rem;
    }
    &-cross {
        width: 2rem;
    }
    &-circle-check {
        width: 2rem;
        color: #3eaeff;
    }
    &-boolen-circle {
        width: 2rem;
        color: #0693e3;
    }
    &-simple-circle {
        width: 2rem;
        color: #adb5bd;
    }
    &-eye-slash {
        width: 2rem;
    }
    &-paper-clip {
        width: 2rem;
        height: 1.8rem;
        color: $grayScale6;
    }
    &-heart {
        width: 2rem;
        height: 1.8rem;
        color: #fe5050;
        @include transition();
        &:hover {
            color: $secondary-color;
        }
    }
    &-share {
        width: 2rem;
        height: 1.8rem;
        color: #3eaeff;
        @include transition();
        &:hover {
            color: $secondary-color;
        }
    }
}
.svg-180-transfrom {
    transform: rotate(180deg);
}
.svg-color-grey {
    color: $grayScale6;
}
