.svg-icon {
    &-location {
        width: 1.5rem;
        color: #fe5050;
    }
    &-calender {
        width: 1.5rem;
        color: #f06700;
    }
    &-clock {
        width: 1.5rem;
        color: #3eaeff;
    }
    &-eye {
        width: 1.5rem;
        color: #3d3f7d;
    }
    &-user-group {
        width: 1.5rem;
        color: #3d3f7d;
    }
    &-check {
        width: 1.5rem;
        color: #3eaeff;
    }
    &-question-circle {
        width: 2rem;
    }
    &-cross {
        width: 2rem;
    }
    &-circle-check {
        width: 2rem;
        color: #3eaeff;
    }
    &-boolen-circle {
        width: 2rem;
        color: #0693e3;
    }
    &-simple-circle {
        width: 2rem;
        color: #adb5bd;
    }
}
