.custom-tab {
    display: flex;
    flex-direction: column;

    &__headers {
        &--btn {
            color: #9fa3b1;
            font-weight: 500;
            @include respond(xs) {
                margin-right: 1rem;
            }
            @include respond(xxs) {
                margin-right: 1rem;
            }
        }
        [data-is-active="true"] {
            color: $default-text-color;
        }
        position: relative;
        // display: flex;
        // gap: 62px;
        padding-block: 10px;
        margin-bottom: 24px;
        .tab-wrapper {
            display: flex;
            justify-content: space-between;
            .custom-tab__headers--btn {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .tab-icons {
                display: flex;
                justify-content: space-between;
                .svg-icon {
                    color: $primary-color;
                    cursor: pointer;
                }
            }
        }
        @include media("<=tablet") {
            flex-wrap: nowrap;
            gap: 32px;
        }

        &::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #ced4da;
            transform: translateY(4px);
        }
        input {
            background: #fff;
            border: 0.1rem solid #afafaf;
            box-shadow: none;
            height: 4.8rem;
            font-size: 1.6rem;
            padding: 0.6rem 1.8rem;
            position: relative;
            border-radius: 0.4rem;
            font-family: "Inter";
            @include transition();
            @include respond(sm) {
                width: 80%;
            }
            @include respond(md) {
                width: 85%;
            }
        }
        &--btn {
            position: relative;
            border: 1px solid transparent;
            outline: 1px solid transparent;
            background-color: transparent;

            &::before {
                position: absolute;
                content: "";
                bottom: 0;
                right: 0;
                width: 100%;
                height: 6px;
                background-color: #fca500;
                opacity: 0;
                transform: scaleX(0) translateY(18px);
                transform-origin: left;
                visibility: hidden;
                transition: 100ms ease-in;
                border-radius: 4px;
            }
            &[data-is-active="true"]::before {
                opacity: 1;
                transform: scaleX(1) translateY(18px);
                visibility: visible;
            }
            @include media("<=tablet") {
                &[data-is-active="true"] {
                    color: #fca500;
                    font-weight: 500;
                }
            }
        }
    }
}
