.tags-wrapper {
  display: inline-block;
  position: relative;

  .chips-content {
    display: flex;
    justify-content: center;
    align-items: center;
    .triangle {
      width: 0;
      height: 0;
      border-top: 14px solid transparent;
      border-right: 20px solid #fff;
      border-bottom: 14px solid transparent;
    }

    .circle {
      position: absolute;
      border-radius: 50%;
      height: 0.7rem;
      width: 0.7rem;
      top: 1.1rem;
      left: 1rem;
      z-index: 2;
      background: #edf4ff;
    }
    h6 {
      font-size: 1rem;
      color: $default-text-color;
      font-weight: 500;
      margin: 0 0.8rem 0 0;
      background-color: #fff;
      padding: 0.8rem 1rem;
      columns: $default-text-color;
    }
  }
}
