.task-detail {
    background: #fff;

    a {
        margin: 1rem 0 0;
        font: 1.2rem $inter-font;

        svg {
            width: 1rem;
            color: inherit;
        }
    }

    h3 {
        font-weight: 500;
        font-size: 1.6rem;
        margin: 2.4rem 0 1rem;
    }
    h2 {
        font-weight: 500;
        font-size: 1.8rem;
    }

    .name {
        font-size: 1.4rem;
    }

    @include respond(sm) {
        flex-direction: row;
    }

    .heart-icon {
        color: #fe5050;
    }

    .share-icon {
        color: #3eaeff;
    }

    .thumbnail-img {
        height: 32rem;
    }
    .svg-icon-location {
        color: #868e96;
    }

    &__loc-time {
        p {
            svg {
                margin: 0 0.8rem 0 0;
            }
            font-weight: 400;
            font-size: 1.2rem;
            margin: 0 1.6rem 0 0;
        }
    }
    &__desc {
        margin: 4rem 0 0;
        p {
            margin: 2.5rem 0 0;
            font-weight: 400;
            font-size: 1.4rem;
        }
    }
}
