.task-applied-card-block {
    background: #ffffff66;
    padding: 2.4rem 4rem;
    border-radius: 0.4rem;
    margin-bottom: 2.4rem;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &[data-active="true"] {
        background: #fff;
    }

    &__header {
        .title {
            font-size: 1.3rem;
            font-weight: 500;
            color: $primary-color;
            padding: 0 1rem 0 0;
            @include respond(lg) {
                font-size: 1.6rem;
            }
            @media screen and (min-width: 1024px) {
                font-size: 1.6rem;
            }
        }

        .charge {
            font-weight: 500;
            font-size: 1.3rem;
            text-align: right;
            color: #343a40;
            @include respond(lg) {
                font-size: 2rem;
            }
            @media screen and (min-width: 1024px) {
                font-size: 2rem;
            }
        }
    }

    &__body {
        .task-description {
            font-size: 1.2rem;
            font-weight: 400;
            color: #495057;
            line-height: 2.4rem;
            margin-bottom: 2.4rem;
        }

        .location {
            font-size: 1.2rem;
            .svg-icon {
                width: 1rem;
                color: #fe5050;
            }
        }
        .task-location-time {
            font-size: 1.2rem;
            font-weight: 400;
            color: #343a40;
            span {
                margin: 0;
            }
            .date {
                .svg-icon {
                    width: 1.2rem;
                    color: #f06700;
                }
            }
            .time {
                .svg-icon {
                    width: 1.2rem;
                    color: #3eaeff;
                }
            }
        }
        hr {
            border: 1px solid #e9ecef;
        }
    }
    &__footer {
        font-size: 1.2rem;
        border-top: 0.1rem solid #e9ecef;
        font-weight: 400;
        padding-top: 1.2rem;
        color: #343a40;
        .share-label {
            margin: 0 2rem 0 0;
        }
        .applicants {
            .svg-icon {
                width: 1.6rem;
                color: #2d2d66;
            }
        }
    }
}

.search-results-text {
    margin-top: 0rem;
    margin-bottom: 1.2rem;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
}
