.task-card-block {
    background: #ffffff66;
    padding: 2.4rem 1rem;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 14px #211d4f1a;
    margin-bottom: 2.4rem;
    @include respond(xs) {
        padding: 2.4rem 4rem;
    }

    &__header {
        margin-bottom: 2.2rem;

        .title {
            font-size: 1.6rem;
            font-weight: 500;
            color: #211d4f;
        }

        .charge {
            font-size: 2.4rem;
            font-weight: 600;
            color: #343a40;
        }
    }

    &__body {
        margin-bottom: 2.4rem;
        border-bottom: 1px solid #e9ecef;
        padding-bottom: 2.4rem;

        .task-description {
            font-size: 1.2rem;
            font-weight: 400;
            color: #495057;
            line-height: 2.4rem;
            margin-bottom: 2.4rem;
        }

        .task-location-time {
            font-size: 1.2rem;
            font-weight: 400;
            color: #343a40;
            // padding-right: 0rem;
            // @include respond(lg) {
            //     padding-right: 20rem;
            // }
            p {
                margin: 0;
            }
            .location {
                .svg-icon {
                    color: #fe5050;
                }
            }
            .date {
                .svg-icon {
                    color: #f06700;
                }
            }
            .time {
                .svg-icon {
                    color: #3eaeff;
                }
            }
        }
    }
    &__footer {
        .left {
            font-size: 1.2rem;
            font-weight: 400;
            color: #343a40;
            p {
                margin: 0;
            }
            .share {
                margin: 0 2.4rem 0 0;
                .svg-icon {
                    color: #3eaeff;
                }
            }
            .applicants {
                .svg-icon {
                    color: #2d2d66;
                }
            }
        }

        @include respond(xs) {
            .right {
                display: flex;
                justify-content: center;
                margin: 1rem 0 0;
            }
        }
    }
}
