.task-image-carousel {
    position: relative;
    width: 400px;
    height: 350px;
    overflow: hidden;

    &__image {
        position: absolute;
        inset: 0;
        border-radius: 4px;
        overflow: hidden;
    }

    &__controls {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 8px;

        &--control {
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background-color: #fff3db;
            list-style-type: none;

            &[data-is-active="true"] {
                background-color: #fca500;
            }
        }
    }
}
