.task-applied-card-block {
  background: #ffffff66;
  padding: 2.4rem 4rem;
  border-radius: 0.4rem;
  margin-bottom: 2.4rem;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &__header {
    .title {
      font-size: 1.6rem;
      font-weight: 500;
      color: $primary-color;
    }

    .charge {
      font-weight: 500;
      font-size: 2rem;
      color: #343a40;
    }
  }

  &__body {
    .task-description {
      font-size: 1.2rem;
      font-weight: 400;
      color: #495057;
      line-height: 2.4rem;
      margin-bottom: 2.4rem;
    }

    .location {
      font-size: 1.2rem;
      .svg-icon {
        width: 1rem;
        color: #fe5050;
      }
    }
    .task-location-time {
      font-size: 1.2rem;
      font-weight: 400;
      color: #343a40;
      span {
        margin: 0;
      }
      .date {
        .svg-icon {
          width: 1.2rem;
          color: #f06700;
        }
      }
      .time {
        .svg-icon {
          width: 1.2rem;
          color: #3eaeff;
        }
      }
    }
    hr {
      border: 1px solid #e9ecef;
    }
  }
  &__footer {
    font-size: 1.2rem;
    font-weight: 400;
    color: #343a40;
    .share {
      .svg-icon {
        width: 1.4rem;
        color: #3eaeff;
      }
    }
    .applicants {
      .svg-icon {
        width: 1.6rem;
        color: #2d2d66;
      }
    }
  }
}
