.team-members-card {
    padding: 2.4rem;
    //sepcific to ipad air
    @media screen and (width: 820px), (width: 768px) {
        padding: 1.4rem;
    }
    @include border();
    &:focus-visible {
        border: 0.1rem solid #211d4f;
    }

    p {
        font: 400 1.2rem $poppins-font;
        text-align: inherit;
        margin: 0 0 2.4rem;
    }

    .image-and-title {
        .icon-wrapper-member.gap-5.align-items-center.emoji-section.text-dark {
            gap: 2rem !important;
        }
        @media screen and (width: 1024px) {
            .icon-wrapper-member.gap-5.align-items-center.emoji-section.text-dark {
                gap: 1rem !important;
            }
        }
        @include respond(xs) {
            width: 105% !important;
        }
        //specific to surface duo
        @media screen and (width: 540px) {
            width: 100% !important;
        }
        .team-member-card-image {
            margin: 0 2.4rem 0 0;
            width: 8rem;

            img {
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .name-post-count {
            .title-and-dots {
                h5 {
                    font: 500 1.4rem $poppins-font;
                    margin: 0 0 0.8rem;
                }

                svg {
                    height: 2.4rem;
                    width: 2.4rem;
                    fill: #000000;
                    cursor: pointer;
                    //specific to galaxy s8
                    @media screen and (width: 360px) {
                        height: 2rem;
                    }
                }
            }

            svg {
                width: 1.8rem;
                height: 1.8rem;
            }

            h6 {
                font: 500 1.2rem $inter-font;
                margin: 0 0 1.6rem;

                span {
                    color: #3eaeff;
                }
            }

            .emoji-section {
                font: 400 1.4rem $inter-font;
                padding: 0 0 2.9rem;
                flex-wrap: wrap;

                //specific to galaxy s8
                @media screen and (width: 360px) {
                    gap: 1rem;
                }
                span {
                    display: flex;
                    align-items: center;
                    span {
                        margin-top: 0.4rem;
                    }
                }

                svg {
                    margin: 0 0.6rem 0 0;
                }

                .star {
                    svg {
                        color: #fab005;
                    }
                }
                .emoji {
                    svg {
                        color: #f98900;
                    }
                }
                .award {
                    svg {
                        color: #0693e3;
                    }
                }
                .location {
                    svg {
                        color: #f06700;
                    }
                }
            }
        }
    }

    .footer-section {
        .task-price {
            font: 600 2rem $poppins-font;
        }
        .share-and-like {
            display: flex;
            align-items: center;
            svg {
                height: 2rem;
                width: 2rem;
                margin: 0 2.4rem 0 0;
                cursor: pointer;
            }

            .heart {
                color: #fe5050;
                &:hover {
                    color: white;
                    background-color: #fe5050;
                    padding: 0.2rem;
                }
            }
            .share {
                color: #3eaeff;

                &:hover {
                    color: white;
                    background-color: #3eaeff;
                    padding: 0.2rem;
                }
            }
        }

        .collab-button {
            button {
                background: #211d4f;
                color: white;
                height: 3rem;
                width: 7.8rem;
            }
        }

        .approve-reject-buttons {
            .big-btn {
                padding: 1rem !important;
            }
        }
    }
}
