.tooltip > div.tooltip-inner {
    background-color: #495057 !important;
    color: #fff !important;
    padding: 1.5rem 0rem;
    padding-left: 2rem;
    text-align: left;
    font-size: 1.3rem;
    padding-right: 2rem;
}

.tooltip.show {
    opacity: 1 !important;
}

// .tooltip::before {
//     width: 15px;
//     height: 15px;
//     background: #333;
//     display: none;
// }
.my-tooltp [class$="inner"] {
    background-color: background-color;
    border: 1px solid background-color;
}

.my-tooltp [class$="arrow"] {
    border-top: 5px solid background-color !important;
}
