*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: $poppins-font;
    font-style: normal;
}

.site-upper-header {
    padding: 0;
    width: 100%;
    border-bottom: none;
    background-color: #fff;

    @include respond(lg) {
        padding: 0;
    }

    .upper-navigation {
        padding: 1.2rem 0;

        &__left {
            .navbar-brand {
                display: inline-block;
                padding: 0.8rem 0 0 0;
                margin: 0;
                width: 10rem;

                @include respond(md) {
                    width: auto;
                    padding: 0;
                    margin-right: 2rem;
                }
            }

            .search-input {
                width: 48rem;

                input {
                    height: auto;
                }
            }

            .nav-item {
                position: relative;

                .nav-link {
                    color: $default-text-color;
                    font-weight: 500;
                    // padding: 0.8rem 1.5rem;
                    font-size: 1.2rem;

                    @include respond(lg) {
                        // padding: 3rem 3.2rem 3rem 0;
                        font-size: 1.6rem;
                        color: $default-text-color;
                    }

                    @include respond(tablet-lanscape) {
                        // padding: 2.8rem 3.5rem;
                    }
                }

                &--active {
                    .nav-link {
                        color: $secondary-color;
                    }
                }

                &:hover {
                    .nav-link {
                        color: $secondary-color;
                    }
                }
            }
        }

        &__center {
            width: 35%;
            position: relative;
            .search-input {
                input {
                    padding-left: 5.4rem;
                    border-radius: 0.4rem;
                    border: 1px solid #dee2e6;

                    &::placeholder {
                        font-size: 1.6rem;
                        font-weight: 500;
                        color: #868e96;
                    }
                }

                .search-btn {
                    position: absolute;
                    left: 0.8rem;
                    top: 1rem;
                    background: none;
                    border: none;
                    z-index: 10;

                    .search-icon {
                        color: $primary-color;
                        height: 2rem;
                        width: 2rem;
                    }
                }
            }
        }

        &__right {
            .login-btn {
                margin-right: 5.2rem;
            }

            .auth-btn {
                color: $default-text-color;
                font-size: 1.2rem;
                font-weight: 500;
                padding: 3rem 0;
                border: none;

                @include respond(lg) {
                    font-size: 1.6rem;
                    position: static;
                }

                @include respond(tablet-lanscape) {
                    padding: 1.05rem 2.2rem;
                }

                &:hover {
                    color: $secondary-color;
                }

                &:focus,
                &:active,
                &:focus-visible {
                    border: none;
                    box-shadow: none;
                }
            }

            .user-profile {
                position: relative;
                margin-right: 1.6rem;

                @include respond(md) {
                    margin-right: 2rem;
                }

                .profile-btn {
                    figure {
                        min-width: 4rem;
                        min-height: 4rem;
                    }
                }
            }

            .nav-cta-btn {
                background: $secondary-color;
                color: $default-text-color;
                border: none;
                border-radius: 0.4rem;
                font-size: 1.2rem;
                font-weight: 500;
                padding: 1rem 1.8rem;
                @include transition();

                @include respond(lg) {
                    position: static;
                    font-size: 1.6rem;
                    padding: 1rem 6rem;
                }

                @include respond(tablet-lanscape) {
                    padding: 1.05rem 2.2rem;
                }

                &:hover {
                    background: $primary-color;
                    border-color: $primary-color;
                    color: #fff;
                }

                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    @keyframes fadeInDown {
        0% {
            transform: translateY(-50px);
        }

        100% {
            transform: translateY(0);
        }
    }

    // Policy Header Start
    .site-header-for-policy {
        background: $secondary-color;

        .main-navigation {
            padding: 1rem 0;
        }
    }
}

// Policy Header End
