.user-loading-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    z-index: 99999;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;

    &[data-is-visible="true"] {
        opacity: 1;
        visibility: visible;
        background-color: $border-color;
        background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC)
            repeat scroll transparent\9; /* ie fallback png background image */
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;

        .loading-image {
            width: 3rem;
            height: 3rem;
            animation: blink 2.5s infinite linear forwards;
        }
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
