.user-task-card-list {
    max-height: 80vh;
    overflow: hidden scroll;
    position: sticky;
    @include media("<=tablet") {
        max-height: unset;
        overflow: unset;
    }
    margin-bottom: 5rem;
}
.user-task-card {
    width: 100%;
    border: 1px solid $border-color;
    background-color: $white;
    padding: 24px;
    margin-bottom: 16px;
    border-radius: 4px;
    margin-right: 8px;

    &__header {
        display: flex;
        align-items: flex-start;
    }
    &__footer {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}
.user-info {
    margin-left: 24px;
    &__username {
        font-size: 18px;
        color: $default-text-color;
        margin-bottom: 8px;
        font-weight: 500;
    }
    &__bio {
        margin-top: 16px;
        font-weight: normal;
        margin-bottom: 24px !important;
    }
    &__category {
        color: #3eaeff;
    }
}
.user-ratings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 16px;
    gap: 24px;
}
.icons {
    display: flex;
    gap: 0.5rem;
    svg {
        margin: 0 2rem 0 0;
    }
}

.big-btn {
    color: white;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 1.4rem $poppins-font;

    &:hover {
        color: white;
    }
}
.task-price {
    flex: 1;
    text-align: right;
    font-size: 20px;
    color: $default-text-color;
    font-weight: 600;
    margin: 0;
}
