// task detail
.user-task-detail-container {
    padding: 24px;
    background-color: $white;
    border-radius: 4px;
}
//task detail header
.td-user-image-container {
    position: relative;
    width: fit-content;

    &__badge {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
}
