.welcome-section-user-tasker {
    background-color: #fff;
}

.user-tasker-body {
    .recommended-tab {
        .task-card-block {
            background: #fff;
        }
    }

    .getting-started {
        margin: 7rem 0 0;
        background-color: #fff;
    }
}
