.about-profile {
    padding-bottom: 2.5rem;

    h1 {
        font-size: 1.7rem;
        font-weight: 500;
        color: $default-text-color;
    }
    .file-attachment {
        display: none;
    }
    h3 {
        font-size: 1.4rem;
        font-weight: 500;
    }
    .svg-icon {
        margin-left: 1.8rem;
        @include transition();
    }
    .address {
        color: $gray-text-color;
        font-size: 1.3rem;
        font-weight: 400;
    }

    .date {
        margin-bottom: 1.3rem;
        font-size: 1.3rem;
        font-weight: 400;
    }
    .type {
        padding-top: 2rem;
        border-bottom: 0.1rem solid $border-color;
        padding-left: 2.5rem;
        padding-right: 3rem;

        &:last-child {
            border-bottom: none;
            padding-left: 1.5rem;
            padding-right: 3rem;
        }
        a {
            font-size: 1.4rem;
        }
        .title-wrapper {
            h1 {
                @include respond(xxs) {
                    font-size: 1.4rem;
                }
            }
        }
        h3 {
            @include respond(xxs) {
                font-size: 1.2rem;
            }
        }
        @include respond(xxs) {
            font-size: 1.5rem;
        }
    }
    .name {
        cursor: pointer;
    }
    .trash {
        margin-left: 0.5rem;
    }
    .portfolio {
        padding-bottom: 1.2rem;
        .content {
            display: flex;
            flex-wrap: wrap;
            padding-top: 1.5rem;

            .data {
                padding-right: 2rem;
            }
            .thumbnail-img {
                height: 19rem;
                width: 19rem;
                border-radius: 0.6rem;
                @include respond(xs) {
                    height: 18rem;
                    width: 19rem;
                    margin-top: 2rem;
                }
                @include respond(xxs) {
                    height: 12rem;
                    width: 16rem;
                    margin-top: 2rem;
                }
            }
            .portfolio-title {
                position: relative;
                cursor: pointer;
                .text-pointer {
                    cursor: pointer;
                }
            }
            p {
                font-size: 1.4rem;
                font-weight: 500;
                margin-bottom: 1rem;
                padding-top: 1rem;
            }
            .icon-down {
                cursor: pointer;
            }
            .icons {
                position: absolute;
                margin-left: 8rem;
                margin-top: -7rem;
                z-index: 3;
                cursor: pointer;

                @include transition();
                .svg-icon {
                    color: #fff;
                    cursor: pointer;
                }
                // .black-icon {
                //     color: #111;
                //     display: none;
                //     cursor: pointer;
                //     // margin-top: 6rem;
                // }
            }
        }
        justify-content: start;
        @include respond(xs) {
            justify-content: center;
        }
    }

    .experience {
        &__type {
            margin-top: 1.6rem;
            &:last-child {
                padding-bottom: 2rem;
            }
            .description,
            .name,
            .job-type {
                font-size: 1.3rem;
                font-weight: 400;
                margin-bottom: 0rem;
                line-height: 2.1rem;
                color: $sub-title-color;
            }
            .name {
                margin-bottom: 0.2rem;
                .svg-icon {
                    cursor: pointer;
                    color: $sub-title-color;
                }
            }
            .company {
                .job-type {
                    margin-left: 1.7rem;
                }
            }
            .description {
                margin-top: 1rem;
                margin-bottom: 1.3rem;
            }

            .dropdown-with-icon {
                .svg-icon {
                    top: 4.2rem;
                }
            }
        }
    }
    .skills {
        .content {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 2rem;
        }
        &__type {
            margin-top: 1rem;
            margin-right: 2rem;
            background-color: #cde9f9;
            border-radius: 6.8rem;
            font-size: 1.4rem;
            color: $default-text-color;
            padding: 0.4rem 1.7rem;
        }
    }
    .institution {
        font-weight: 500;
    }
    .program {
        font-weight: 400;
    }
    .education,
    .certification {
        .program,
        .institution {
            margin-bottom: 1rem;
            font-size: 1.4rem;

            @include respond(xxs) {
                font-size: 1.27rem;
            }
        }
    }
    .certification {
        border-bottom: none;
        .name {
            a {
                color: $sub-title-color;
            }
        }
    }
    .reviews {
        .review-container {
            padding-top: 0.1rem solid $border-color;
            padding: 0 0 2.5rem 2rem;
            .reviewer {
                @include respond(xs) {
                    flex-direction: row;
                    align-items: flex-start;
                }
                @include respond(xxs) {
                    flex-direction: column;
                    align-items: flex-start;
                    .ratings {
                        padding: 1rem 0rem;
                    }
                }
            }
        }
    }
}
