.reward-card {
    display: flex;
    border: 0.1rem solid $border-color;
    flex-direction: column;
    position: relative;
    .thumbnail-img {
        margin: 0;
        height: 25rem;
        border-radius: 0.4rem;
    }
    .expired-img {
        position: absolute;
        height: 3rem;
        width: 6rem;
        top: 20rem;
        left: 70%;
    }
    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        h2 {
            color: #101113;
            font-size: 1.3rem;
            margin-bottom: 0rem;
        }
        p {
            padding-bottom: 0rem;
            color: $default-text-color;
            line-height: 2.5rem;
            margin-bottom: 0rem;
            font-weight: 400;
            padding-bottom: 1rem;
        }
        .coupon {
            display: flex;
            border-radius: 0.4rem;
            .code,
            .disabled {
                flex: 0.7;
                align-items: center;
                border: 0.1rem solid $border-color;
                p {
                    font-size: 1.3rem;
                    margin: 0rem;
                    padding: 0.5rem 0.8rem;
                }
            }
            .code > p {
                color: $primary-color;
            }

            .disabled-color > p {
                color: #868e96;
            }

            .copy-btn {
                cursor: pointer;
                flex: 0.3;
                font-size: 1.3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
            }
            .abled {
                background-color: $primary-color;
            }
            .disabled-copy-btn {
                background-color: #868e96;
            }
        }
    }
}
