// rating stars icon class
.rating-star {
    width: 24px;
    height: 24px;
}
.divider {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #ced4da;
}

// sizings
$sizes: (8, 16, 24, 48, 64, 96, 128, 256);

.mb-0 {
    margin-bottom: 0 !important;
}
.mb-8 {
    margin-bottom: 8px !important;
}
.mb-16 {
    margin-bottom: 16px !important;
}
.mb-24 {
    margin-bottom: 24px !important;
}

.my-8 {
    margin: 8px 0 !important;
}
.my-16 {
    margin: 16px 0 !important;
}
.my-24 {
    margin: 24px 0 !important;
}

.title {
    font-size: 500;
    font-weight: 500;
    color: $primary-color;
    line-height: 30px;
}
.text {
    font-size: 14px;
    color: #495057;
    margin: 0 !important;
    line-height: 22px;
}
.aside-detail-wrapper {
    @include media("<laptop") {
        position: fixed;
        inset: 0;
        background-color: #f5f5f5;
        z-index: 100;
        overflow-y: scroll;
    }
}
