// Color variable
$primary-color: #211d4f;
$secondary-color: #ffca6a;
$default-text-color: #212529;
$gray-text-color: #afafaf;
$placeholder-color: #afafaf;
$paragraph-text-color: #545454;
$border-color: #dee2e6;
$secondary-text-color: #495057;
$sub-title-color: #343a40;
$facebook-logo-color: #4267b2;
$twitter-logo-color: #1da1f2;
$google-logo-color: #f83636;
$link-color: #fe5050;
$grayScale6: #868e96;
$nav-link-color: #0693e3;

// Font Family
$inter-font: "Inter";
$poppins-font: "Poppins";

// Material Icons
$material-icons: "oMaterial Icons";

// Responsive Breakpoints
$xxs: 340px;
$xs: 572px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
