// Color variable
$primary-color: #211d4f;
$secondary-color: #ffca6a;
$secondary-color-s4: #f98900;
$default-text-color: #212529;
$gray-text-color: #afafaf;
$placeholder-color: #afafaf;
$paragraph-text-color: #545454;
$border-color: #dee2e6;
$secondary-text-color: #495057;
$sub-title-color: #343a40;
$facebook-logo-color: #4267b2;
$twitter-logo-color: #1da1f2;
$google-logo-color: #f83636;
$link-color: #fe5050;
$grayScale5: #adb5bd;
$grayScale6: #868e96;
$nav-link-color: #0693e3;

// Mantine color themes
$dark0:#C1C2C5;
$dark1:#A6A7AB;
$dark2:#909296;
$dark3:#5C5F66;
$dark4:#373A40;
$dark5:#2C2E33;
$dark6:#25262B;
$dark7:#1A1B1E;
$dark8:#141517;
$dark9:#101113;

$gray0: #F8F9FA;
$gray1: #F1F3F5;
$gray2: #E9ECEF;
$gray3: #DEE2E6;
$gray4: #CED4DA;
$gray5: #ADB5BD;
$gray6: #868E96;
$gray7: #495057;
$gray8: #343A40;
$gray9: #212529;

// Font Family
$inter-font: "Inter";
$poppins-font: "Poppins";

// Material Icons
$material-icons: "oMaterial Icons";

// Responsive Breakpoints
$xxs: 340px;
$xs: 572px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
