// Color variable
$primary-color: #211D4F;
$secondary-color: #FFCA6A;
$default-text-color: #212529;
$gray-text-color: #afafaf;
$placeholder-color: #afafaf;
$paragraph-text-color: #545454;

$facebook-logo-color: #4267B2;
$twitter-logo-color: #1DA1F2;
$google-logo-color: #F83636;


// Font Family
$inter-font: "Inter";
$poppins-font: "Poppins";

// Material Icons
$material-icons: "Material Icons";

// Responsive Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
