@import "~bootstrap/scss/bootstrap.scss";

@import "variable";
@import "paths";
@import "mixins";
@import "app";

// Components
@import "components/upper-header";
@import "components/header";
@import "components/homepage";
@import "components/footer";
@import "components/serviceCard";
@import "components/categoryCard";
